.container {
    background: black;
    margin-top: -45px;
    margin-left: -24px;
    height: 127px;
    position: sticky;
    z-index: 10;
}

.cqDFSz {
    display: flex;
    gap: 23px;
    margin-right: -96px;
    margin-top: -93px;
}

.cqDFSz div img {
    width: 25px;
    height: 25px;
}


.p_ou {
    color: white;
}


nav {
    display: flex;
    justify-content: space-between;
    height: 143px;
    padding: 0 6rem;
    /* margin-top: 45px; */
    padding-top: 74px;
}

span {
    color: white;
}


.cqDFSz div {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding-bottom: 5px;
    gap: 6px;
}

#li_1 {
    color: white;
    text-decoration: none;
}


.form{
    height: 697px;
    background-color: white;
}


.cqDFSz div {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding-bottom: 5px;
    gap: 6px;
}



.container_form {
    margin-left: 629px;
    margin-top: 8px;
    display: flex;
    gap: 3px;
    padding-top: 48px;
}


.container_all{
    background: white;
    height: 592px;
}



.p_form {
    margin-top: 11px;
    margin-left: 512px;
    font-size: 20px;
    color: gray;
    margin-bottom: 25px;
}


form {
    margin-left: 457px;
}





.inputs_label{
    margin-left: 20px;
}

.inputs_label_1{
    margin-left: 20px;
    margin-top: -21px;
}



.label_form_1 {
    display: block;
    margin-bottom: -8px;
}


.input_form {
    outline: 0;
}


.input_form {
    width: 479px;
    height: 41px;
    margin-bottom: 16px;
    padding-left: 10px;
}


.textarea_form{
    width: 481px;
    height: 161px;
    margin-left: 10px;
    margin-bottom: 20px;
    resize: none;
    padding-top: 7px;
    padding-left: 8px;
    margin-left: 20px;
}

.input_2 {
    width: 481px;
    height: 41px;
    margin-bottom: 16px;
    padding-left: 10px;
    outline: 0;
    display: block;
    margin-top: 7px;
}


.btn_primary {
    display: block;
    background: #5846f9;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 5px;
    background: #5846f9;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 5px;
    height: 42px;
    width: 382px;
    padding-top: 11px;
    padding-left: 11px;
    cursor: pointer;
    margin-left: 57px;
}


.h1_form{
    margin-left: -21px;
 }



.cqDFSz a {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    gap: 6px;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: white;
}